* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #cccccc5d;
    width: 100%; /*largura de 100% da página*/
    height: 100vh; /*altura total da página*/
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem; /*para descolar da borda*/



}

main {
    
    background-color: #fff;
    /*max-width: 26rem;*/
    justify-content: center;
    border-radius: 5px 5px 150px 5px;
    /*padding-bottom: 1rem;*/
    padding: 2rem 1rem 1rem 1rem;
    
}

/*Section com todos os label e input*/
section {
    display: flex;
    /*position: relative;*
    align-items: center;*/

    

}

/*Cada label e input está dentro de um article*/
article {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    position: relative;
    /*align-items: center;*/

}

label {
    font-weight: bolder;
    text-transform:uppercase; /*caixa alta*/
    position: relative;
    align-items: center;
    

}


input {
    font-weight: bolder;
    margin-top: .5rem;
    padding-left: .2rem;
    border: 1px solid hsl(0, 0%, 94%);
    border-radius: 5px;
    outline: none;
    width: 8vw;
    padding: .8rem;
    align-items: center;
    /*color: hsl(259, 900%, 55%);*/

   
   
}


input:placeholder-shown {
    font-weight: lighter;
    font-size: .8rem;
    padding-left: .2rem;
}

input:hover {
    border: 1px solid hsl(259, 900%, 55%) ;
}


hr {
    margin-top: 1rem;
    color: #ccc;

}

/*Botão*/
.btn {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    border: none;
    /*position: relative;*/
    position: absolute;
    width: 3.5rem;
    /*position: fixed;*/
    height: 8vh;
    right: 31rem;
    top: 15rem;
    cursor: pointer;


}

.btn:hover {
    background-color: black;


}

/*Imagem do botão*/
img {
    /*color: #ccc;*/
    width: 2vw;
}



.p_span {
    padding-bottom: 1rem;
    font-weight: bolder;
    font-size: 3rem;

}

/*Onde aparecerá dias, meses e anos até a data presente*/
span {
    /*color: hsl(228, 45%, 44%);*/
    color: hsl(259, 900%, 55%);
    font-weight: bolder;
    margin-left: 1rem;
    margin-right: 2rem;
    font-size: 3rem;

}




























/*Esse trabalho foi feito por Luciene Lima*/