 /*Responsividade*/

@media screen and (max-width: 1115px) {

    body {

        width: 100%; /*largura de 100% da página*/
        height: 100vh; /*altura total da página*/
        /*margin: 1rem;*/

    }

    input:hover {
        border: 1px solid hsl(259, 900%, 55%) ;
    }

    /*Botão*/
    .btn {
        width: 3.5rem;
        height: 8vh;
        position: fixed;
        right: 24rem;
        top: 16.2rem;
             
    }

    
    .p_span {
        padding-bottom: 1rem;
        font-weight: bolder;
        font-size: 2rem;
    
    }

    /*Onde aparecerá dias, meses e anos até a data presente*/
    span {
        margin-left: 1rem;
        margin-right: 2rem;
        font-size: 2rem;
    }

}

/*Telas menores(celular na horizontal)*/
@media screen and (max-width: 844px) {

    input {
        font-weight: bolder;
        border: 1px solid hsl(0, 0%, 94%);
        border-radius: 5px;
        outline: none;
        width: 20vw;
        padding: .2rem;
        align-items: center;
        font-size: 1rem;
   
              
    }


    input:hover {
        border: 1px solid hsl(259, 900%, 55%) ;
    }

    /*Botão*/
    .btn {
        width: 3.5rem;
        height: 9vh;
        position: fixed;
        right: 9rem;
        top: 9.2rem;
             
    }


}

@media (max-width: 700px) {
    /*Botão*/
    .btn {
        height: 5vh;
        position: fixed;
        right: 7rem;
        top: 10rem;
          
    }


}

/*Telas menores(celular na vertical)*/
@media screen and (max-width: 400px) {

    body {

        width: 100%; /*largura de 100% da página*/
        height: 80vh; /*altura total da página*/
        /*margin: 1rem;*/

    }

    main {
        justify-content: center;
        border-radius: 5px 5px 100px 5px;
        padding: 2rem 1rem 1rem 1rem;
        max-width: 400rem;
        

    }



    label {
        font-weight: bolder;
        text-transform:uppercase; /*caixa alta*/
        position: relative;
        align-items: center;
        font-size: .8rem;
        
    
    }
    
    
    input {
        font-weight: bolder;
        /*padding-left: .2rem;*/
        border: 1px solid hsl(0, 0%, 94%);
        border-radius: 5px;
        outline: none;
        width: 20vw;
        padding: .8rem;
        align-items: center;
        font-size: .7rem;
   
              
    }
        
    
    input:placeholder-shown {
        font-weight: lighter;
        font-size: .7rem;
        padding-left: .2rem;
        
    }

    input:hover {
        border: 1px solid hsl(259, 900%, 55%) ;
    }
    
    
    /*Botão*/
    .btn {
        width: 3.5rem;
        height: 5vh;
        position: fixed;
        right: 3rem;
        top: 20rem;

             
    }

    .btn:hover {
        background-color: black;
    
    
    }


    /*Imagem do botão*/
    img {
        width: 5vw;
    
    }


}


@media (max-width: 390px) {
    /*Botão*/
    .btn {
        height: 5vh;
        position: fixed;
        right: 3rem;
        top: 18rem;
          
    }


}












































































































































/*Esse trabalho foi feito por Luciene Lima*/